[submodule "external/flatbuffers"]
	path = external/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "external/CORE"]
	path = external/CORE
	url = https://github.com/chuzcjoe/CORE.git
[submodule "external/onnx"]
	path = external/onnx
	url = https://github.com/onnx/onnx.git
