build/
cmake-build-*/
compile_commands.json
.cache/
*.cache
.DS_Store

__pycache__/
python/mnist/test_data/
python/mnist12_cnn/model/
python/mnist12_cnn/test_data/
python/pspnet/models/
python/pspnet/output/
python/pspnet/test_data/
python/squeezenet/test_data/

*.pth
*.bin
python/vkai_py
python/mnist/data/
*.onnx
